* {
    background-color: transparent
}

body {
    height: 100%;
    background-color: black
}

#content {
    background-color: #fff;
    height: 1200px
}

.spacer {
    height: 50px
}

.tab-content {
    padding: 5px
}

.navbar-default {
    background-color: transparent;
    border: 0 solid transparent
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #006400
}

.nav-pills,
.nav-tabs {
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px
}

.nav-pills>li>a,
.nav-tabs>li>a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.9em;
    color: #fff;
    background-color: #1c1c1c;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    white-space: nowrap
}

.nav-pills>li>a:hover,
.nav-tabs>li>a:hover {
    color: #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin-left: 0;
    margin-right: 0
}

#more-spacers {
    display: none
}

@media (max-width:768px) {
    #more-spacers {
        display: block
    }
    .nav-pills>li>a,
    .nav-tabs>li>a {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px
    }
    .nav-pills>li>a:hover,
    .nav-tabs>li>a:hover {
        color: #000;
        border: 2px solid #000;
        margin: 0
    }
}

#login {
    margin: 0 auto;
    width: 50%;
}

.contactUs {
    border: 5px solid black;
    border-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
}

.cinfo {
    font-size: 20px;
    margin: 20px;
}

.discription {
    font-size: 18px;
    margin: auto;
    width: 80%;
}

.header {
    text-align: left;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*Make the entire footer grey*/
    background-color: #aeaeae;
    padding: 10px;
}